<%- include ('partials/header.ejs'); -%>
<% if (user) { %>
<h2 class="username"><%= user.username %></h2>
<% } %>
<br><br>
<h3>your songs</h3>
<br>
<div>
    <table class="user-song-table">
        <thead>
            <tr>
                <th>title</th>
                <th>artist</th>
                <th>album</th>
                <th>genre</th>
                <th>year</th>
            </tr>
        </thead>
        <% if (songs) { %>
        <% songs.forEach((song, index) => { %>
        <tr data-href=" /displaySong/<%= song.song_id %>">
            <td><%= song.title %></td>
            <td><%= song.artist %></td>
            <td><%= song.album %></td>
            <td><%= song.genre %></td>
            <td><%= song.year %></td>
        </tr>
        <% }); %>
        <% } else { %>
        <p>No songs found</p>
        <% } %>
    </table>
</div>